/*Source Media Query Screen Setup: http://foundation.zurb.com/docs/media-queries.html*/

h1, h2, h3, h4, legend, labels{
    font-family: Bitter, serif;
    margin-bottom: 0;
    margin-top: 0;
}

main h1:nth-child(1){
    border-bottom: 1px solid black;
}

picture img{
    width: 100%;
}

video{
    width: 100%;
    height: auto;
}

p{
    font-family: Raleway, sans-serif;
    font-size: 1.2em;
    margin-bottom: 0;
    margin-top: 0;
}

/*mobile screen*/
@media only screen
    and (max-width: 50em){

/*header */
        header{
            background: #FFCC00;
        }

        header > h1{
            display: none;
        }

        header > h1 + p:nth-child(2){
            display: none;
        }

        img[alt="logo"]{
            float: right;
            width: 50%;
            margin: 0.6em;
        }
/*header navigation*/
        header > nav{
            background: rgba(0,0,0,0.4);
            clear: right;
        }

        header ul {
            display: flex;
            flex-direction: column;
            padding: 0;
        }

        header ul li{
            text-align: center;
            list-style-type: none;
            border-bottom: 3px solid white;
            font-size: 1.3em;
        }

        ul li a{
            text-decoration: none;
            color: white;
            font-family: Raleway, sans-serif;
            padding-bottom: 0.8em;
        }

        ul li a:active{
            text-decoration: none;
            color: black;
            padding-bottom: 0.8em;
        }

/*top search bar*/

        form{
            text-align: center;
        }

        form + p{
            padding-top: 1em;
            padding-bottom: 1em;
            text-align: center;
        }

/*main article*/

        main h1{
            border-bottom: 1px solid black;
            padding-bottom: 0.2em;
            margin: 0.5em 0.7em;
        }

        main h2{
            margin-left: 0.8em;
        }

        main h3{
            margin: auto 1em;
            margin-top: 1.5em;
        }

        main h4{
            margin: 1em 0.8em;
        }

        main header{
            background: none;
        }

        main p{
            line-height: 1.3em;
            margin-left: 1em;
            margin-right: 1em;
            margin-bottom: 1em;
        }

        main header h2{
            margin-top: 0.5em;
        }

        h2 + p:nth-child(2){
            margin-top: 0.5em;
        }

        main h4{
            border-top: 1px solid black;
        }

        main footer p{
            margin: 0;
            margin-left: 1em;
            font-size: 1em;
        }

        main h3 + p{
            margin-top: 0.5em;
        }

        main section > p:nth-child(3){
            background: #C7C3BD;
            padding: 1em 0.5em;
        }

        main section > p:nth-child(5){
            background: #C7C3BD;
            padding: 1em 0.5em;
        }


/*        aside mobile styling*/

        aside section{
            background: #F0F0F0;
            margin: 1em 0;
            padding: 1em 0;
        }

        aside section h2{
            margin-left: 0.7em;
        }

        aside section article{
            margin: 1em 1em;
        }

        aside section article p{
            line-height: 1.3em;
        }

        aside section h2 a{
            text-decoration: none;
            color: black;
        }

        aside section article h3{
            margin-bottom: 0.4em;
        }

        aside section article{
            border-top: 1px solid black;
        }

/*        form page styling mobile*/

        main form{
            margin: 0;
        }

        main > form{
            background: #F0F0F0;
            margin: 0;
            padding: 0;
            padding-bottom: 1em;
        }

        main form fieldset{
            border: none;
        }

        legend{
            margin-left: 0.5em;
            text-align: left;
            padding-top: 1em;
            font-weight: bold;
            font-size: 1.5em;
        }

        main fieldset:nth-child(1) label{
            text-align: left;
            display: block;
        }

        main fieldset:nth-child(1) span{
            display: block;
            font-size: 1.2em;
        }

        main fieldset:nth-child(1) input{
            width: 80%;
            padding: 0.5em;
            border-radius: 1em;
            box-sizing: border-box;
            font-size: 1.2em;
            margin-bottom: 0.5em;
        }

        input[type='radio']{
            margin-left: 3em;
        }

        #project span{
            display: block;
            text-align: left;
            font-size: 1.2em;
            margin-left: 3.2em;
            margin-bottom: 0.5em;
        }

        #stage span{
            display: block;
            text-align: left;
            font-size: 1.2em;
            margin-left: 1em;
        }

        #project input[type='text'], textarea, input[type='date']{
            width: 80%;
            padding: 0.5em;
            border-radius: 1em;
            box-sizing: border-box;
            font-size: 1.2em;
            margin-bottom: 0.5em;
        }

        #stage input[type='text'], textarea{
            width: 80%;
            padding: 0.5em;
            border-radius: 1em;
            box-sizing: border-box;
            font-size: 1.2em;
            margin-bottom: 0.5em;
        }

        input[value='Aanmelden']{
            border-radius: 4em 4em;
            font-size: 1.5em;
            color: white;
            background: #3498db;
            padding: 0.8em 1.4em;
            width: 100%;
        }

        picture{
            height: auto;
            width: 100%;
        }

        img[alt='imageSizes']{
            margin-bottom: 1em;
        }

/*        related section*/
        .related{
            margin: 1em 1em;
        }

        .related section ul li a{
            color: black;
            font-size: 0.9em;
        }

        .related section ul li{
            font-size: 0.9em;
        }

        .related header{
            border-top: 2px solid black;
            background: #DADAD1;
            padding: 0.5em 0.5em;
        }

        .related header + p{
            margin: 0.5em 0;
            padding: 0.5em;
        }


/*bottom footer*/
        .related + footer{
            background: #FFCC00;
            margin-top: 2em;
            padding-left: 3em;
            padding-right: 3em;
            display: block;
        }

        .related + footer h2{
            padding-top: 2em;
        }

        .related + footer p:nth-last-child(1){
            padding-bottom: 2em;
        }

        .related + footer a{
            color: black;
        }

        .related + footer form{
            text-align: left;
        }

}


/*tablet screen*/
@media only screen
    and (min-width: 50.064em)
    and (max-width: 70em){

        main{
            margin: 1em 1em;
            width: 60%;
            float: left;
        }

        header{
            background: #FFCC00;
            padding-bottom: 1em;
        }

        header h1:nth-child(1){
            color: white;
            float: left;
            padding-top: 1em;
            padding-left: 1.2em;
        }

        header p:nth-child(2){
            clear: left;
            color: white;
            float: left;
            padding-left: 2em;
            margin-bottom: 1em;
            width: 40%;
        }

        img[alt='logo']{
            float: right;
            width: 35%;
            padding-right: 2em;
            position: relative;
            bottom: 2em;
        }

        main h2:nth-child(1){
            margin-top: 0.5em;
        }

        main h3{
            margin-top: 1em;
            margin-bottom: 0.5em;
        }

        main h4{
            border-top: 1px solid black;
        }

        img[alt='imageSizes']{
            margin-top: 1em;
            margin-bottom: 1em;
        }

        video{
            margin-top: 1em;
            margin-bottom: 1em;
        }



/*        navigation bar*/

        nav{
            clear: both;
            padding-right: 2em;
        }

        nav ul{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        nav ul li{
            list-style: none;
            margin: 0;
            padding: 0;
        }

        nav ul li a{
            color: white;
            text-decoration: none;
            font-size: 1.4em;
        }

        nav{
            border-top: 3px solid white;
            border-bottom: 3px solid white;
        }

        nav + form{
            float: right;
            margin-top: 1em;
            padding-right: 2em;
        }

        form + p{
            padding-left: 2em;
            padding-top: 1em;
        }

        /*        main article style*/

        main header{
            background: white;
        }

        main h1:nth-child(1){
            color: black;
            float: none;
            padding: 0;
            margin: 0;
        }

        main p:nth-child(2){
            color: black;
            float: none;
            width: 100%;
            padding: 0;
        }

        main section p:nth-child(3){
            background: #C7C3BD;
            padding: 1em;
            margin: 1em 0;
        }

        main section p:nth-child(5){
            background: #C7C3BD;
            padding: 1em;
            margin: 1em 0;
        }


        /*        form page styling tablet*/

        main form{
            margin: 0;
        }

        main > form{
            background: #F0F0F0;
            margin: 0;
            padding: 0;
            padding-bottom: 1em;
        }

        main form fieldset{
            border: none;
        }

        legend{
            margin-left: 0.5em;
            text-align: left;
            padding-top: 1em;
            font-weight: bold;
            font-size: 1.5em;
        }

        main fieldset:nth-child(1) label{
            text-align: left;
            display: block;
        }

        main fieldset:nth-child(1) span{
            display: block;
            font-size: 1.2em;
        }

        main fieldset:nth-child(1) input{
            width: 80%;
            padding: 0.5em;
            border-radius: 1em;
            box-sizing: border-box;
            font-size: 1.2em;
            margin-bottom: 0.5em;
        }

        input[type='radio']{
            margin-left: 3em;
        }

        #project span{
            display: block;
            text-align: left;
            font-size: 1.2em;
            margin-left: 3.2em;
            margin-bottom: 0.5em;
        }

        #stage span{
            display: block;
            text-align: left;
            font-size: 1.2em;
            margin-left: 1em;
        }

        #project input[type='text'], textarea, input[type='date']{
            width: 80%;
            padding: 0.5em;
            border-radius: 1em;
            box-sizing: border-box;
            font-size: 1.2em;
            margin-bottom: 0.5em;
        }

        #stage input[type='text'], textarea{
            width: 80%;
            padding: 0.5em;
            border-radius: 1em;
            box-sizing: border-box;
            font-size: 1.2em;
            margin-bottom: 0.5em;
        }

        input[value='Aanmelden']{
            border-radius: 4em 4em;
            font-size: 1.5em;
            color: white;
            background: #3498db;
            padding: 0.8em 1.4em;
            width: 100%;
        }


/*        aside styling tablet*/

        aside{
            width: 35%;
            float: right;
        }

        aside section{
            background: #F0F0F0;
            margin: 1em 0;
            padding: 1em 0;
        }

        aside section h2{
            margin-left: 0.7em;
        }

        aside section article{
            margin: 1em 1em;
        }

        aside section article p{
            line-height: 1.3em;
        }

        aside section h2 a{
            text-decoration: none;
            color: black;
        }

        aside section article h3{
            margin-bottom: 0.4em;
        }

        aside section article{
            border-top: 1px solid black;
        }

/*        related styling tablet*/

        .related{
            clear: both;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-left: 1em;
        }

        .related h2{
            width: 100%;
            border-top: 1px solid black;
            padding-bottom: 1em;
        }

        .related article{
            width: 45%;
            border: 1px solid black;
            margin-bottom: 1em;
        }

        .related header {
            display: flex;
            flex-direction: column;
            align-content: flex-start;
            background: #DADAD1;
            padding: 1em;
        }

        .related header + p{
            padding: 1em;
        }

        .related article:nth-child(3){
            margin-left: 1em;
        }

        .related article:nth-child(5){
            margin-left: 1em;
        }

        .related article header p:nth-child(2){
            margin: 0;
            color: black;
            padding-left: 0;
            width: 100%;
            font-size: 1em;
        }

        .related article section{
            padding: 1em;
        }

        .related section ul li a{
            color: black;
            font-size: 0.9em;
        }

        .related section ul li{
            font-size: 0.9em;
        }





/*        bottom footer*/

        .related + footer{
            background: #FFCC00;
            clear: both;
        }

        .related + footer p:nth-child(2){
            padding: 0;
            float: none;
            color: black;
            width: 100%;
        }

        .related + footer{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

        .related + footer section{
            width: 30%;
            padding-left: 0.5em;
        }

        #feedback a{
            position: relative;
            top: 3.2em;
            padding: 1em;
            background: red;
            text-decoration: none;
            color: white;
        }

}

/*desktop screen*/
@media only screen
    and (min-width: 70.063em)
/*    and (max-width: 100em)*/
{
    body{
        width: 1200px;
        margin: 0 auto;
    }

    main{
            margin: 1em 1em;
            width: 60%;
            float: left;
        }

        header{
            background: #FFCC00;
            padding-bottom: 1em;
        }

        header h1:nth-child(1){
            color: white;
            float: left;
            padding-top: 1em;
            padding-left: 1.2em;
        }

        header p:nth-child(2){
            clear: left;
            color: white;
            float: left;
            padding-left: 2em;
            margin-bottom: 1em;
            width: 40%;
        }

        img[alt='logo']{
            float: right;
            width: 35%;
            padding-right: 2em;
            position: relative;
            bottom: 2em;
        }

        main h2:nth-child(1){
            margin-top: 0.5em;
        }

        main h3{
            margin-top: 1em;
            margin-bottom: 0.5em;
        }

        main h4{
            border-top: 1px solid black;
        }

        img[alt='imageSizes']{
            margin-top: 1em;
            margin-bottom: 1em;
        }

        video{
            margin-top: 1em;
            margin-bottom: 1em;
        }



/*        navigation bar*/

        nav{
            clear: both;
            padding-right: 2em;
        }

        nav ul{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        nav ul li{
            list-style: none;
            margin: 0;
            padding: 0;
        }

        nav ul li a{
            color: white;
            text-decoration: none;
            font-size: 1.4em;
        }

        nav{
            border-top: 3px solid white;
            border-bottom: 3px solid white;
        }

        nav + form{
            float: right;
            margin-top: 1em;
            padding-right: 2em;
        }

        form + p{
            padding-left: 2em;
            padding-top: 1em;
        }

        /*        main article style*/

        main header{
            background: white;
        }

        main h1:nth-child(1){
            color: black;
            float: none;
            padding: 0;
            margin: 0;
        }

        main p:nth-child(2){
            color: black;
            float: none;
            width: 100%;
            padding: 0;
        }

        main section p:nth-child(3){
            background: #C7C3BD;
            padding: 1em;
            margin: 1em 0;
        }

        main section p:nth-child(5){
            background: #C7C3BD;
            padding: 1em;
            margin: 1em 0;
        }


        /*        form page styling tablet*/

        main form{
            margin: 0;
        }

        main > form{
            background: #F0F0F0;
            margin: 0;
            padding: 0;
            padding-bottom: 1em;
        }

        main form fieldset{
            border: none;
        }

        legend{
            margin-left: 0.5em;
            text-align: left;
            padding-top: 1em;
            font-weight: bold;
            font-size: 1.5em;
        }

        main fieldset:nth-child(1) label{
            text-align: left;
            display: block;
        }

        main fieldset:nth-child(1) span{
            display: block;
            font-size: 1.2em;
        }

        main fieldset:nth-child(1) input{
            width: 80%;
            padding: 0.5em;
            border-radius: 1em;
            box-sizing: border-box;
            font-size: 1.2em;
            margin-bottom: 0.5em;
        }

        input[type='radio']{
            margin-left: 3em;
        }

        #project span{
            display: block;
            text-align: left;
            font-size: 1.2em;
            margin-left: 3.2em;
            margin-bottom: 0.5em;
        }

        #stage span{
            display: block;
            text-align: left;
            font-size: 1.2em;
            margin-left: 1em;
        }

        #project input[type='text'], textarea, input[type='date']{
            width: 80%;
            padding: 0.5em;
            border-radius: 1em;
            box-sizing: border-box;
            font-size: 1.2em;
            margin-bottom: 0.5em;
        }

        #stage input[type='text'], textarea{
            width: 80%;
            padding: 0.5em;
            border-radius: 1em;
            box-sizing: border-box;
            font-size: 1.2em;
            margin-bottom: 0.5em;
        }

        input[value='Aanmelden']{
            border-radius: 4em 4em;
            font-size: 1.5em;
            color: white;
            background: #3498db;
            padding: 0.8em 1.4em;
            width: 100%;
        }


/*        aside styling tablet*/

        aside{
            width: 35%;
            float: right;
        }

        aside section{
            background: #F0F0F0;
            margin: 1em 0;
            padding: 1em 0;
        }

        aside section h2{
            margin-left: 0.7em;
        }

        aside section article{
            margin: 1em 1em;
        }

        aside section article p{
            line-height: 1.3em;
        }

        aside section h2 a{
            text-decoration: none;
            color: black;
        }

        aside section article h3{
            margin-bottom: 0.4em;
        }

        aside section article{
            border-top: 1px solid black;
        }

/*        related styling tablet*/

        .related{
            clear: both;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-left: 1em;
        }

        .related h2{
            width: 100%;
            border-top: 1px solid black;
            padding-bottom: 1em;
        }

        .related article{
            width: 32%;
            border: 1px solid black;
            margin-bottom: 1em;
        }

        .related header {
            display: flex;
            flex-direction: column;
            align-content: flex-start;
            background: #DADAD1;
            padding: 1em;
        }

        .related header + p{
            padding: 1em;
        }

        .related article:nth-child(3){
            margin-left: 1em;
        }

        .related article:nth-child(4){
            margin-left: 1em;
        }

        .related article:nth-child(6){
            margin-left: 1em;
        }

        .related article header p:nth-child(2){
            margin: 0;
            color: black;
            padding-left: 0;
            width: 100%;
            font-size: 1em;
        }

        .related article section{
            padding: 1em;
        }

        .related section ul li a{
            color: black;
            font-size: 0.9em;
        }

        .related section ul li{
            font-size: 0.9em;
        }





/*        bottom footer*/

        .related + footer{
            background: #FFCC00;
            clear: both;
        }

        .related + footer p:nth-child(2){
            padding: 0;
            float: none;
            color: black;
            width: 100%;
        }

        .related + footer{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: space-between;
        }

        .related + footer section{
            width: 12%;
            padding-left: 6em;
            font-size: 0.8em;
        }

        #feedback a{
            padding: 1em;
            float: left;
            background: red;
            text-decoration: none;
            color: white;
        }
}

.hide{
    display: none;
}

.show{
    display: block;
}

label em{
    color: red;
    padding-bottom: 0.5em;
}


